.home-background {
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6); 
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.887);
  z-index: 10;
}

.logo {
  font-size: 1.5rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.cinema-red {
  color: #ef4444;
  font-weight: bold;
}

.plus-white {
  color: white;
  font-weight: bold;
}


.nav-links {
  display: flex;
  gap: 1rem;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  font-weight: 500;
  transition: background 0.3s ease;
}

.nav-link:hover {
  background-color: #ef4444;
}