.hall-list-container {
  min-height: 100vh;
  padding: 20px;
  color: white;
}

.hall-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.hall-card {
  background-color: #1a1a1a;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.1);
  width: 250px;
  text-align: center;
}