.seat-grid-wrapper {
  background-color: #000;
  color: white;
  padding: 30px;
  text-align: center;
  min-height: 100vh;
  background-image: url('../../assets/popcorn-cinema.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h3 {
margin-top: 0;
margin-bottom: 20px;
front-size: 20px;
color: white;
}

.screen {
  background-color: #c0392b;
  color: white;
  padding: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.seat-grid {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.seat-row {
  display: flex;
  gap: 8px;
}

.seat {
  width: 40px;
  height: 40px;
  background-color: #ccc;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
}

.seat.taken {
  background-color: #444;
  cursor: not-allowed;
}

.seat.selected {
  background-color: red;
  color: white;
}

.summary {
  margin-top: 20px;
  font-size: 16px;
}


.btn-reserve {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #c0392b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-reserve:hover {
  background-color: #e74c3c;
}